<% include ./partials/header.ejs %>
<div class="back container">
	<div class="row">
		<div class="text-center">
			<h1>MARKET HAWK</h1>
		</div>
		<div class="home-body">
			<p>“Money, if it does not bring you happiness, will at least help you be miserable in comfort.” – Helen Gurley Brown</p>
			<p>“Cocaine is God's way of saying you're making too much money.” - Robin Williams</p>
			<p>"Always borrow money from a pessimist, he doesn't expect to be paid back" -Author Unknown</p>
			<p>"Women prefer men who have something tender about them – especially the legal kind" -Kay Ingram</p>
			<p>"Money isn't the most important thing in life, but it's reasonably close to oxygen on the “gotta have it” scale" -Zig Ziglar</p>
		</div>
		<div class="text-center">
			<button type="button" class="btn btn-dc scrollto"><a  href="/login">Login</a></button>
		</div>

	</div>
</div>
<% include ./partials/footer.ejs %>