<% include ./partials/header.ejs %>
<div class="container back">
	<!-- form to search the Index -->
	<h1 class="headMember"> Show Me Your $$$</h1>
	<p id="userId"><%=currentUser._id%></p>
	<form class="row" id="searchStock">
	  <div class="col-sm-3 col-md-3">
	    <h5>Search the financial index:</h5>
	  </div>
	  <div class="form-group col-sm-7 col-md-7">
	    <input type="text" class="form-control" id="search" placeholder="Search">
	  </div>
	  <div class="form-group col-sm-2 col-md-2">
	 	<button type="submit" class="btn btn-default">Submit</button>
	  </div>
	</form>

	<div class="row" id="searchOutput" >
		<div class='panel panel-default'>
  			<div class='panel-body'>
  				<div class='row name'>
  					<div class='col-md-4 stockList'>
				
					</div>
					<div class='col-md-4 stockPortfolio'>

					</div>
					<div class='col-md-4 portfolioInfo'>
					
					</div>
				</div>
			</div>
			<div class='panel-footer save'>
			</div>
		</div>
	</div>
<div>
<% include ./partials/footer.ejs %>